[build]
    command = "npm run build"
    publish = "dist"

[build.environment]
    NODE_VERSION = "20"

[[redirects]]
    from = "/dashboard"
    to = "/dashboard.html"
    status = 200

[[redirects]]
    from = "/*"
    to = "/index.html"
    status = 200