* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    cursor: none;
    overflow-x: hidden !important;
}

body {
    user-select: none;
    -webkit-user-drag: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: 'Poppins', 'Ubuntu', sans-serif;
}

:root {
    --navbar: #171414;
    --main1: #151928;
    --main2: #2A2E35;
    --primary: #FFF031;
    --secondary: #FFF5F5;
    --ternary: #43E97B;
    --hover: #3DCFD3;
}

/* ----- Custom Scroll Bar ----- */

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    background-color: var(--secondary);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, var(--ternary), var(--primary));
    border-radius: 10px;
    height: 100px;
}

/* ----- Common Styling ----- */

section {
    padding: 100px 0;
}

.max-width {
    max-width: 100%;
    padding: 0 80px;
    margin: auto;
}

.about .about-content,
.projects .project-content,
.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

section .title {
    position: relative;
    text-align: center;
    font-weight: 700;
    margin-bottom: 25px;
    color: var(--secondary);
    font-family: "Lato", sans-serif;
}

section .title span {
    font-size: 3.5vw;
    background-image: url("assets/images/text.webp");
    background-size: cover;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
}

section .text {
    font-size: 1.5vw;
    color: var(--secondary);
    text-align: center;
    margin-bottom: 61px;
    word-break: normal;
}

section .text span {
    padding: 4px 14px;
    border: 2.5px solid var(--primary);
    border-radius: 25px;
    display: inline-block;
    text-align: center;
    word-break: break-word;
    line-height: 1.5;
}

/* ----- Preloader Styling ----- */

.loader {
    width: 100%;
    height: 100vh;
    display: flex;
    position: fixed;
    z-index: 99999;
    align-items: center;
    justify-content: center;
    background: var(--main1);
}

.ring {
    width: 320px;
    height: 320px;
    position: absolute;
    border: 0px solid var(--main1);
    border-radius: 50%;
}

.ring:nth-child(1) {
    border-bottom-width: 10px;
    border-color: var(--primary);
    animation: rotate1 2s linear infinite;
}

.ring:nth-child(2) {
    border-right-width: 10px;
    border-color: var(--hover);
    animation: rotate2 2s linear infinite;
}

.ring:nth-child(3) {
    border-top-width: 10px;
    border-color: var(--ternary);
    animation: rotate3 2s linear infinite;
}

.loading {
    color: var(--secondary);
    font-size: 25px;
}

@keyframes rotate1 {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes rotate2 {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes rotate3 {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

/* ----- Navbar Section Styling ----- */

.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    font-family: "Ubuntu", sans-serif;
    transition: all 0.3s ease;
}

.navbar .max-width {
    display: flex;
    background-color: var(--navbar);
    align-items: center;
    justify-content: space-between;
}

.navbar .img-logo {
    height: auto;
    width: 7vw;
    max-width: 100%;
    margin: -19px 0;
    -webkit-user-drag: none;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    position: relative;
    display: inline-block;
    color: var(--secondary);
    font-size: 1.2vw;
    font-weight: 600;
    padding: 9px 10px;
    -webkit-user-drag: none;
    transition: all 0.5s ease;
}

.navbar .menu li a.active {
    background: var(--primary);
    color: var(--main1);
    border-radius: 10px;
}

.navbar .menu li a::before,
.navbar .menu li a::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 4.1px;
    background-color: var(--hover);
    transform: scaleX(0);
    transition: transform 0.5s;
}

.navbar .menu li a::before {
    top: -3px;
    transform-origin: left;
}

.navbar .menu li a::after {
    bottom: -3px;
    transform-origin: right;
}

.navbar .menu li a:hover::before,
.navbar .menu li a:hover::after {
    transform: scaleX(1);
}

.navbar .menu li a.active:hover::before,
.navbar .menu li a.active:hover::after {
    transform: scaleX(0);
}

/* ----- Menu Button Styling ----- */

.menu-btn {
    color: var(--secondary);
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.menu-btn svg {
    width: 25px;
    height: 25px;
    fill: currentColor;
}

/* ----- Home Section Styling ----- */

.home {
    display: flex;
    align-items: center;
    height: 100%;
    background: url("assets/images/home.png") no-repeat center center;
    background-size: cover;
    color: var(--secondary);
    min-height: 100vh;
    padding: 0 20px;
}

.home .max-width {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
}

.home .home-content {
    max-width: 600px;
    min-height: 300px;
}

.home .text-1 {
    color: var(--ternary);
    font-size: clamp(25px, 4vw, 40px);
    font-weight: bold;
    margin-bottom: 9px;
    letter-spacing: 1.5px;
}

.home .text-2 {
    color: var(--secondary);
    font-size: clamp(21px, 4vw, 32px);
    font-weight: 400;
    margin-bottom: 9px;
    letter-spacing: 1.5px;
}

.home .text-2 span {
    color: var(--ternary);
}

.home .text-3 {
    color: var(--secondary);
    font-size: clamp(18px, 4vw, 28px);
    font-weight: 600;
    letter-spacing: 1.5px;
    margin: 5px 0 50px 0;
}

.home .text-3 span {
    color: var(--ternary);
}

.home button {
    padding: 9px 23px;
    font-size: clamp(12px, 4vw, 18px);
    font-weight: 600;
    background: transparent;
    color: var(--hover);
    border: 5px solid var(--hover);
    transition: all 0.5s ease;
}

.home button:hover {
    cursor: pointer;
    background: var(--hover);
    color: var(--main2);
    border-color: var(--primary);
    box-shadow: 0px 0px 14px 2px var(--secondary);
}

/* ----- About Section Styling ----- */

.about {
    background: var(--main2);
    height: 100%;
    min-height: 100vh;
}

.about .title {
    margin-bottom: 64px;
}

.about .left {
    width: 25%;
}

.about .left img {
    height: auto;
    width: 334px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    filter: grayscale(1);
    box-shadow: -8px 8px 15px var(--main1);
    -webkit-user-drag: none;
    animation: transition 1.4s linear infinite;
}

@keyframes transition {
    20% {
        filter: grayscale(1) drop-shadow(5px 5px 25px rgb(238, 255, 0));
    }

    40% {
        filter: grayscale(1) drop-shadow(5px 5px 25px rgb(0, 119, 255));
    }

    60% {
        filter: grayscale(1) drop-shadow(5px 5px 25px rgb(0, 255, 17));
    }

    80% {
        filter: grayscale(1) drop-shadow(5px 5px 25px rgb(255, 0, 132));
    }

    100% {
        filter: grayscale(1) drop-shadow(5px 5px 25px rgb(0, 255, 251));
    }
}

.about .left img:hover {
    filter: grayscale(0);
    animation: transition1 1.4s linear infinite;
}

@keyframes transition1 {
    20% {
        filter: drop-shadow(5px 5px 25px rgb(255, 0, 132));
    }

    40% {
        filter: drop-shadow(50px 5px 25px rgb(0, 255, 251));
    }

    60% {
        filter: drop-shadow(5px 50px 25px rgb(0, 255, 17));
    }

    80% {
        filter: drop-shadow(45px 5px 25px rgb(0, 119, 255));
    }

    100% {
        filter: drop-shadow(0px 5px 25px rgb(238, 255, 0));
    }
}

.about .right {
    width: 55%;
}

.about .right .topic span {
    font-size: 25px;
    font-weight: bold;
    background: linear-gradient(45deg, var(--secondary), var(--primary));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about .right p {
    text-align: justify;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: var(--secondary);
    line-height: 1.6;
    margin-top: 25px;
}

.about .media-icons img {
    width: clamp(45px, 4vw, 60px);
    height: auto;
    background-color: var(--main1);
    border-radius: 45%;
    margin-top: 25px;
    transition: all .3s ease;
    -webkit-user-drag: none;
}

.about .media-icons img:hover {
    background: var(--hover);
    transform: translateY(14px);
}

.about .media-icons a {
    -webkit-user-drag: none;
}

/* ----- Skills Section Styling ----- */

.skills {
    background: var(--main1);
    height: 100%;
    min-height: 100vh;
}

.skills .skill-boxes {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    justify-content: center;
    column-gap: 32px;
    row-gap: 41px;
}

.skills .box {
    justify-content: center;
    background-color: var(--main2);
    margin-bottom: -21px;
    border-radius: 10px;
    border-color: var(--primary);
    border-style: solid;
    transition: 0.5s ease;
}

.skills .box:hover {
    box-shadow: 9px 9px var(--secondary);
    -webkit-transform: translateX(-3px);
    transform: translateX(-0.32);
    transition: 0.5s ease;
}

.skills .box img {
    display: block;
    margin: auto;
    padding: 14px;
    -webkit-user-drag: none;
    width: 96px;
    height: 96px;
    object-fit: cover;
}

.skills .box .topic {
    font-size: clamp(16px, 4vw, 19px);
    width: 140px;
    color: var(--secondary);
    font-weight: bold;
    text-align: center;
    margin: 10px;
    margin-bottom: 25px;
}

/* ----- Education Section Styling ----- */

.education {
    background: var(--main2);
    height: 100%;
    min-height: 100vh;
}

.education .education-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.education .box {
    background: var(--main1);
    display: flex;
    width: 80%;
    border-radius: 9px;
    box-shadow: 9px 9px 9px var(--primary);
    text-align: center;
    margin-bottom: 45px;
    overflow: hidden;
    transition: 0.3s ease;
}

.education .box:hover {
    box-shadow: 16px 10px 16px var(--hover);
}

.education .image {
    flex: 1 320px;
    width: 100%;
}

.education .image a {
    -webkit-user-drag: none;
}

.education .image img {
    object-fit: cover;
    display: flex;
    height: 12vw;
    width: auto;
    filter: brightness(122%);
    -webkit-user-drag: none;
}

.education .content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.education .content h3 {
    width: 95%;
    text-align: left;
    font-size: 1.5vw;
    font-weight: 600;
    margin-left: 25px;
    color: var(--primary);
}

.education .content h4 {
    width: 95%;
    text-align: left;
    font-size: 1.4vw;
    font-weight: 700;
    margin-left: 25px;
    margin-bottom: 9px;
    color: var(--hover);
}

.education .content p {
    width: 95%;
    text-align: left;
    font-size: 1.3vw;
    margin-left: 25px;
    margin-bottom: 10px;
    color: var(--secondary);
}

/* ----- Experience Section Styling ----- */

.experience {
    background: var(--main1);
    height: 100%;
    min-height: 100vh;
}

.experience .experience-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 64px;
    padding: 21px 90px 0 90px;
}

.experience .box {
    position: relative;
    width: calc(33% - 30px);
    margin: 0 16px;
    padding-left: 50px;
    border-left: 3.2px solid var(--secondary);
}

.experience .box svg {
    position: absolute;
    top: -19px;
    left: -32px;
    height: 64px;
    width: 64px;
    border-radius: 50%;
    background: var(--primary);
    fill: var(--secondary);
    display: block;
}

.experience .box svg path {
    transform: scale(0.5);
    transform-origin: center;
}

.experience .box .duration {
    font-size: 1.3vw;
    font-weight: 900;
    border: 2px solid var(--primary);
    background: var(--main2);
    color: var(--secondary);
    border-radius: 50px;
    padding: 8px 32px;
}

.experience .box h3 {
    font-size: 1.6vw;
    color: var(--ternary);
    font-weight: 900;
    margin-top: 36px;
    margin-bottom: 25px;
}

.experience .box ul li {
    margin-left: 16px;
    font-size: 1vw;
    line-height: 1.3vw;
    color: var(--secondary);
    padding: 7px;
}

.experience .box ul li .focus {
    color: var(--primary);
    font-weight: 900;
}

.experience .box ul li a {
    color: var(--primary);
    font-weight: 900;
    border-bottom: 2px solid var(--primary);
    -webkit-user-drag: none;
}

.experience .box ul li a:hover {
    color: var(--hover);
    border-bottom: 2px solid var(--hover);
    transition: all 0.4s ease;
}

/* ----- Projects Section Styling ----- */

.projects {
    background: var(--main2);
    height: 100%;
    min-height: 100vh;
}

.projects .box {
    width: calc(33% - 20px);
    background: var(--main1);
    text-align: center;
    border-radius: 6px;
    padding: 25px 15px;
    padding-top: 10px;
    margin-bottom: 28px;
    box-shadow: 6px 6px 7px var(--primary);
}

.projects .box:hover {
    background-image: radial-gradient(var(--primary), var(--hover));
    transform: translateY(10px);
    box-shadow: -5px -5px 6px var(--secondary);
    transition: all 0.5s ease;
}

.projects .box:hover .topic {
    color: var(--navbar);
    font-weight: 900;
}

.projects .box:hover p {
    color: var(--navbar);
    font-weight: 600;
}

.projects .box:hover .techs {
    border: 2px solid var(--main1);
    border-radius: 5px;
}

.projects .tooltip {
    position: relative;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.projects .tooltip a {
    -webkit-user-drag: none;
}

.projects .tooltip img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 100%;
    -webkit-user-drag: none;
    background-color: var(--secondary);
}

.projects .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: var(--navbar);
    color: var(--secondary);
    font-size: 16px;
    padding: 5px 0;
    border-radius: 14px;
    position: absolute;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
}

/* Tooltip arrow */
.projects .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -7px;
    border-width: 7px;
    border-style: solid;
    border-color: var(--navbar) transparent transparent;
}

.projects .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.projects .snapshot {
    height: 100%;
    width: 100%;
    -webkit-user-drag: none;
}

.projects .topic {
    font-size: 1.8vw;
    font-weight: 900;
    margin: 21px 0;
    color: var(--secondary);
    text-align: center;
}

.projects p {
    color: var(--secondary);
    margin-bottom: 1.5vw;
    font-size: 1.2vw;
    font-weight: 500;
}

.projects .techs {
    padding: 4.1px;
    border-radius: 2px;
    display: inline-block;
    text-align: center;
    word-break: break-word;
    line-height: 1.2;
    font-weight: 600;
    margin-left: 5px;
    font-size: 1vw;
    color: var(--navbar);
    background-color: var(--ternary);
    border-radius: 5px;
}

/* ----- Certificates Section Styling ----- */

.certificates {
    background: var(--main1);
    height: 100%;
    min-height: 100vh;
}

.certificates .certificate-boxes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0px 100px 25px;
    column-gap: 25px;
    row-gap: 45px;
    margin-top: 50px;
}

.certificates .box {
    background-color: var(--main2);
    border: 2.7px solid var(--ternary);
    border-radius: 14px;
    text-align: center;
    padding: 14px 10px;
}

.certificates .box img {
    width: auto;
    height: 12vw;
    object-fit: cover;
    margin-bottom: 8px;
    -webkit-user-drag: none;
    transition: all 0.5s ease;
}

.certificates .box img:hover {
    z-index: 1;
    border-radius: 10px;
    transform: scale(2.3);
    transition: all 0.5s ease;
    border: 3.2px solid var(--hover);
}

.certificates .box .topic {
    width: 180px;
    color: var(--primary);
    font-size: 1.2vw;
    font-weight: bold;
    margin: 0 auto 5px auto;
}

.certificates .box .topic1 {
    width: 180px;
    color: var(--secondary);
    font-size: 1vw;
    font-weight: bold;
    margin: 0 auto 5px auto;
}

/* ----- Contact Section Styling ----- */

.contact {
    background: var(--main2);
    height: 100%;
    min-height: 100vh;
}

.contact p {
    text-align: center;
    font-size: 32px;
    font-weight: 900;
    color: var(--secondary);
}

.contact .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.contact .contact-content .column {
    width: calc(50% - 30px);
}

.contact .right form .fields {
    display: flex;
}

.contact .right form .fields .field,
.contact .right form .field {
    height: 45px;
    width: 100%;
    border: 3.2px solid var(--hover);
    border-radius: 10px;
    margin-bottom: 15px;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
    height: 100%;
    width: 100%;
    border: 1px solid var(--secondary);
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    transition: all 0.3s ease;
}

.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus {
    border: 2px solid var(--main1);
    background: var(--secondary);
}

.contact .right form .name {
    margin-right: 10px;
}

.contact .right form .textarea {
    height: 180px;
    width: 100%;
}

.contact .right form .textarea textarea {
    padding-top: 10px;
    resize: none;
}

.contact .right form .button-area {
    display: flex;
    justify-content: center;
}

.contact .right form .button-area button {
    display: inline-block;
    background: var(--hover);
    color: var(--main1);
    border: 4.1px solid var(--primary);
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 25px;
    margin-top: 14px;
    transition: all 0.3s ease;
}

.contact .right form .button-area button:hover {
    cursor: pointer;
    color: var(--main1);
    border-color: var(--hover);
    background: var(--primary);
    transform: skew(5deg);
    box-shadow: 0px 0px 14px 2px var(--secondary);
}

.contact .left img {
    width: auto;
    height: auto;
    float: right;
    max-width: 100%;
    -webkit-user-drag: none;
}

/* ----- Footer Section Styling ----- */

footer {
    background: var(--main1);
    padding: 14px 23px;
    font-weight: 900;
    margin-top: -50px;
    color: var(--secondary);
    text-align: center;
}

footer a {
    color: var(--primary);
    -webkit-user-drag: none;
    text-decoration: underline;
    text-underline-offset: 4px;
}

footer a:hover {
    text-decoration: none;
    color: #FFFF99;
}

/* ----- Scroll To Top Button Styling ----- */

#progress {
    right: 10px;
    width: 50px;
    bottom: 20px;
    height: 50px;
    display: none;
    cursor: pointer;
    position: fixed;
    border-radius: 50%;
    place-items: center;
}

#progress:hover {
    opacity: 1;
    animation: animate 1s linear infinite;
}

@keyframes animate {
    50% {
        transform: translateY(-8px);
    }
}

#progress-value {
    display: grid;
    font-size: 23px;
    border-radius: 50%;
    place-items: center;
    width: calc(100% - 15px);
    height: calc(100% - 15px);
    background-color: var(--primary);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

/* ----- Cursor Styling ----- */

.circle {
    height: 25px;
    width: 25px;
    border-radius: 24px;
    background-color: var(--navbar);
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999999;
}

/* ----- Media queries for responsiveness -----*/

@media (max-width: 1120px) {
    .navbar .img-logo {
        width: 80px;
        height: auto;
        margin: -14px 0;
    }

    .experience .box {
        width: calc(40% - 10px);
    }
}

@media (max-width: 947px) {
    .circle {
        display: none;
    }

    .navbar .menu {
        position: fixed;
        height: 100%;
        min-height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: var(--navbar);
        text-align: center;
        padding-top: 25px;
        transition: all 0.3s ease;
    }

    .navbar .menu.active {
        left: 0;
    }

    .navbar .menu li {
        display: block;
    }

    .navbar .menu li a {
        display: inline-block;
        margin: 2vw 0;
        color: var(--primary);
        font-size: clamp(12px, 4vw, 18px);
    }

    .menu-btn {
        display: block;
        z-index: 999;
    }

    .menu-btn i.active:before {
        content: "\f00d";
    }

    section .title span {
        font-size: 5vw;
    }

    .home {
        background: var(--main1);
    }

    .about .column {
        width: 100%;
    }

    .about .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .left img {
        height: 45vw;
        width: auto;
    }

    .about .right {
        flex: 100%;
    }

    .about .right .topic span {
        font-size: 21px;
    }

    .about .right p {
        font-size: 14px;
    }

    .education .image img {
        height: clamp(18vw, 4vw, 28vw);
    }

    .education .content h3 {
        font-size: 1.7vw;
    }

    .education .content h4 {
        font-size: 1.9vw;
    }

    .education .content p {
        font-size: 1.8vw;
    }

    .experience .box h3 {
        font-size: 2.3vw;
    }

    .experience .box ul li {
        font-size: 1.8vw;
        line-height: 2.3vw;
    }

    .projects .box {
        width: calc(50% - 10px);
    }

    .projects .topic {
        font-size: 21px;
    }

    .projects p {
        font-size: 17px;
    }

    .projects .techs {
        font-size: 13px;
    }

    .certificates .box img {
        height: 150px;
        width: auto;
    }

    .certificates .box .topic {
        font-size: 14px;
    }

    .certificates .box .topic1 {
        font-size: 12px;
    }

    .contact .contact-content .column {
        width: 100%;
        margin-bottom: 35px;
    }

    .contact p {
        margin-bottom: 20px;
    }

    .contact .left {
        display: none;
    }
}

@media (max-width: 800px) {
    .experience .box {
        margin: 0;
        width: 100%;
    }

    .experience .box .duration {
        font-size: 2.5vw;
    }

    .experience .box h3 {
        font-size: 2.7vw;
    }

    .experience .box ul li {
        font-size: 1.8vw;
        line-height: 2.3vw;
    }
}

@media (max-width: 690px) {
    .max-width {
        padding: 0 23px;
    }

    .education .content h3 {
        margin-left: 10px;
        font-size: 1.5vw;
    }

    .education .content h4 {
        margin-left: 10px;
        font-size: 1.6vw;
    }

    .education .content p {
        margin-left: 10px;
        margin-top: 0;
        font-size: 1.7vw;
    }

    .projects .box {
        width: 100%;
    }
}

@media (max-width: 500px) {
    section .text {
        font-size: 2vw;
    }

    .navbar .img-logo {
        width: auto;
        height: 75px;
    }

    .home .text-2 {
        font-size: clamp(14px, 4vw, 18px);
    }

    .education .box {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        flex-direction: column;
    }

    .education .image {
        flex: 0 0 auto;
    }

    .education .image img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .experience .experience-boxes {
        padding: 21px 10px 0 45px;
    }

    .experience .box .duration {
        font-size: 3.3vw;
        word-break: break-word;
    }

    .experience .box h3 {
        font-size: 4vw;
    }

    .experience .box ul li {
        font-size: 3vw;
        line-height: 4vw;
    }

    .contact .right form .fields {
        flex-direction: column;
    }
}

@media (max-width: 370px) {
    .experience .box ul li {
        margin-left: 0;
    }
}

@media (max-width: 245px) {
    html {
        display: flex;
    }
}