---
interface Props {
  title: string;
  description?: string;
}

const { title, description = "Portfolio of Rakesh Roshan - Full Stack Developer" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/assets/images/favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/assets/libs/animate.css" />
    <script is:inline src="/assets/libs/wow.js"></script>
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-main1" oncontextmenu="return false">
    <slot />
  </body>
</html>

<style is:global>
  @import "../styles/global.css";
</style>
